<div class = "ui very padded container segment">
  <h1> Add New Skill </h1>
<%= form_for @skill, url: {action: "create"}, html: {class: "ui form"} do |f| %>
    <div class="field">
  <%= f.text_field :name %> <br>
  </div>
  <div class = "field">
  <%= f.submit "Create", class: "ui big blue button" %>
</div>
<% end %>
</div>
